body {
    background:#FFFFFF;
    color:#000000;
    font-family: monospace;
    line-height: 1.1;
    font-size: 123%;
}
a:link, a:visited {
    text-decoration: none;
    color:blue;
}
a:hover, a:active {
    color:red;
}

code {
    white-space: pre-wrap;
    background-color: black;
    color: limegreen;
}

pre {
	background-color: black;
	padding: 10px;
}
