body {
    background:#FFFFFF;
    color:#000000;
    font-family:Cambria,Verdana,"Trebuchet MS",Tahoma,Palatino,"Palatino Linotype",Georgia,Arial,Helvetica,Serif
}
a:link, a:visited {
    text-decoration: none;
    color:blue;
}
a:hover, a:active {
    color:red;
}
