body {
    background:#FFFFFF;
    color:#000000;
    font-family:Cambria,Verdana,"Trebuchet MS",Tahoma,Palatino,"Palatino Linotype",Georgia,Arial,Helvetica,Serif
}
pre {
    overflow:auto;
    width:auto
}
a:link {color:blue}
a:visited {color:blue}
a:hover {color:red}
a:active {color:red}
