a{
	color:#eb1313;
}

nav a, footer div a{
	margin:0px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: 'Garamond';
	margin: auto;
	padding:20px;
	max-width: 600px;
	text-align: left;
	background-color:white;
	line-height: 1.4em;
}

img, video{
	max-width: 600px;
	border: 2px solid #eb1313;
}

code {
	white-space: pre-wrap;
	font-family: monospace;
	line-height: 1.2em
}
