code {
	white-space: pre-wrap;
	line-height: 1.2em;
	padding: 4px;
}

body {
	text-align: left;
	line-height: 1.3;
}

#main {
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
}

img {
	max-width: 100%;
	border-radius: .5em;
	clear: both;
  display: block;
  margin-right: auto;
	margin-left: auto;
}

table {

	border-spacing: 0px;
	width: 100%;
}

table td {
	padding: 3px;
}

thead {
	text-align: left;
}

th {
	padding: 3px;
}

p {
 	text-align: justify;
  text-justify: auto;
}